.btn-item{
    text-decoration: none;
    display: inline-block;
    border: none;
    padding: 10px;
    margin-top: 24px;
    margin-left: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}