:root{
    --main-color: #111517;
    --bg-color:#fff;
    --body-bg:#F2F2F2;
    --back-icon: url("../../assets/images/arrow.svg");
}
.dark{
    --main-color: #fff;
    --bg-color: #2B3844;
    --body-bg:#202C36;
    --back-icon: url("../../assets/images/back-dark.svg");
}
.card-list{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 84vh;
}
.card-counter--wrap{
    margin-left: 50px;
}
.card-counter--wrap-right{
    margin-top: 50px;
    margin-left: 50px;
}
.card-counter-item{
    display: flex;
}
.card-counter-img{
    width: 100%;
    max-width: 500px;
    height: 300px;
    display: block;
    border-radius: 10px;
}
.card-counter-item-title{
    color: var(--main-color);
}
.card-counter-item-text{
    margin: 10px 0;
    display: block;
    color: var(--main-color);
}
.card-counter-item-span{
    font-weight: 300;
}
.card-counter-borders{
    margin-top: 50px;
}
.card-counter-item-span-borders{
    display: inline-block;
    margin-top: 5px;
    padding: 5px 25px;
    margin-left: 15px;
    background: var(--bg-color);
    font-weight: 400;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
    border-radius: 2px;
    border: 1px solid var(--main-color);
}
.btn-back{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 6px;
    border: 1px solid var(--main-color);
    cursor: pointer;
    color: var(--main-color);
}
.btn-back::before{
    content: '';
    display: inline-block;
    margin-right: 12px;
    width: 13px;
    height: 13px;
    background-image: var(--back-icon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}